.navbar {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  padding: 2em;
  margin-top: 4em; 
}

.content-about {
  padding: 5rem;
  margin-top: 9em; 
  display: flex;
  padding: 4rem;
  margin: auto;
  height: 38rem;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
}

.container-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../assets/img/about-bg.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.8; /* Adjust the value between 0 (fully transparent) and 1 (fully opaque) */
  z-index: -1; /* Place the pseudo-element behind other content */
}


.about-container {
  margin-top: 2rem;
  height: 50rem;
}

.title-container {
  margin: auto;
  height: fit-content;
  width: 25%;
  text-align: center;
}

.title-container p{
  font-size: 2.6rem;
  color: #fff;
  font-weight: 800;
}

.row-about {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 3rem auto;
  animation: fade-in 1.5s forwards;
  background-color: rgaba(#000, 0.25);
  opacity: 0;
  transform: translateY(50vh);
}

.text-box {
  text-align: center;
  margin-top: 1rem;
}


.col-img img {
  width: 20rem;
  border-radius: 50%;

}

.col-img h1 {
  color: #fff;
}

.col-img p {
  color: white;
}

@keyframes fade-in {
  from {
    background-color: rgaba(#000, 0.25);
    opacity: 0;
    transform: translateY(50vh);
  }
  
  to {
    background-color: rgaba(#000, 0);
    opacity: 1;
    transform: translateY(0);
  }
}