* {
    margin: 0;
    padding: 0;
  }
    
  .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
  }

.account-content {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }

.account-content h1 {
  padding-bottom: 5rem;
  font-size: 3rem;
}

.account-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.confirmation-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
}

.confirmation-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
