  .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
  }

  .account-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../assets/img/account-bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    z-index: -1; 
  }

  .account-content button {
    background-color: red;
    color: #fff;
    padding: 0.4em 1em; 
    border: none;
    border-radius: 0.25rem; 
    font-size: 1em; 
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
  }

  .account-content button:hover {
    background-color: #a60000; 
    color: #fff; 
  }

  .delete-account {
    color: red;
    text-decoration: underline;
    cursor: pointer;
  }

.account-content {
  padding: 5rem;
  margin-top: 9em; 
  display: flex;
  padding: 4rem;
  margin: auto;
  height: 39rem;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  }

.account-content h1 {
  padding-top: 10rem;
  padding-bottom: 2rem;
  font-size: 3rem;
  animation: fade-in 1.5s forwards;
}

.account-profile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 38%;
  animation: fade-in 1.5s forwards;
}

.credentials {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credentials input {
  border-radius: 0.25rem; 
  border: none;
  border: 1px solid black; 
  transition: border-color 0.3s ease; 
}

.credentials input:disabled {
  background-color: rgb(150, 150, 150);
}

.confirmation-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
}

.confirmation-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.version {
  margin: 3rem;
  animation: fade-in 1.5s forwards;
}

.profile-btn {
  display: flex;
  flex-direction: column;
}

.profile-p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5rem;
}

.edit-change {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease;

}

.delete-logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.delete-logout p {
  margin: 0 1rem;
}

.scrollUpDiv button {
  background-color: red;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

.scrollUpDiv button:hover {
  transition: background-color 0.5s, color 0.5s;
  background-color: #a60000; 
}

@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(50vh);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}