* {
    margin: 0;
    padding: 0;
}
  
.container {
    position: relative;
    min-height: 100vh; 
}
  
.navbar {
  position: fixed; /* Change to fixed positioning */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.content {
  padding: 2em;
  margin-top: 4em; 
}

.container-form {
  width: 30%;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form input {
  width: 5rem;
}