@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #000000;
    color: white;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
  }

  .overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
  
  .overlay-text h1 {
    font-size: 4rem; 
    margin-bottom: 2rem; 
    font-weight: bold; 
  }
  
  .overlay-text p {
    font-size: 2rem;
    line-height: 1.5;
  }

  .overlay-home {
    animation: fade-in 1.5s forwards;
  }
  
header {
    position: relative;
}

.nissan-container {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  overflow-x: hidden;
}

.fadeInRight {
  opacity: 0;
  transform: translateX(100%);
  animation: fadeInFromRight 1s ease forwards;
}

.fadeInLeft {
  opacity: 0;
  transform: translateX(-100%);
  animation: fadeInFromLeft 1s ease forwards;
}

.nissan-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  font-size: 5rem;
  opacity: 0;
}

.nissan-title p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 12rem;
  opacity: 0;
}

.nissan-div {
  display: flex;
  margin: 10rem;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  opacity: 0;
}

.nissan-div img {
  width: 40rem;
}

.fadeInAnimation {
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.nissan-div:nth-child(odd) .fadeInAnimation {
  animation-name: fadeInFromLeft;
}

.nissan-div:nth-child(even) .fadeInAnimation {
  animation-name: fadeInFromRight;
}

.overview-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  opacity: 0;
}

.overview-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 5rem;
  width: 80%;
}

.overview-container h2 {
  font-size: 5rem;
}

.overview-container p {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.explore-btn {
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}

.overview-container button {
  margin-left: 45%;
  margin-right: 45%;
  border: none;
  border-radius: 0.25rem; 
  font-size: 1em; 
  cursor: pointer;
  background-color: red;
}

.overview-container button:hover {
  transition: background-color 0.5s, color 0.5s;
  background-color: #a60000; 
}

.scrollUp {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999; 
}

.scrollUpDiv button {
  background-color: red;
  border: none;
  border-radius: 0.25rem;
  color: white;
  cursor: pointer;
}

.scrollUpDiv button:hover {
  transition: background-color 0.5s, color 0.5s;
  background-color: #a60000; 
}


.nagata-container {
  background: linear-gradient(to bottom, #000000, #5c4c00, #000000);
  width: 100%;
  padding-bottom: 15rem;
}

.nagata-div {
  width: 60%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-top: 10rem;
}

.nagata-img img {
  width: 100%;
  height: auto;
  transition: filter 0.5s ease;
  opacity: 0;
}

.nagata-img img.fadeIn {
  animation: fade-in 1s ease forwards;
}

.nagata-div:hover .nagata-img {
  filter: brightness(90%);
}

.nagata-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 3em;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.5s ease;
  overflow: hidden;
}

.nagata-div:hover .nagata-content {
  opacity: 1;
}

.nagata-title h2 {
  font-size: 5rem;
  margin-top: 15rem;
  margin-bottom: 15rem;
  opacity: 0;
}

.nagata-title h2.fadeIn {
  animation: fadeInH2 1s ease forwards;
}

.nagata-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInFromRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInH2 {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
      opacity: 0;
      transform: translateY(50vh);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

