* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    
}

.navbar li {
    color: white; 
    position: relative; 
}

.navbar li::after {
    content: ''; 
    position: absolute;
    left: 0;
    bottom: -0.1em; 
    width: 0%; 
    height: 0.1em;
    background-color: white; 
    transition: width 0.3s ease; 
    opacity: 0;
}

.navbar li:hover::after {
    width: 100%; 
    opacity: 1; 
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

.profile-navbar {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.profile-navbar p {
    margin: auto;
}

.sub-navbar {
    width: 80%;
    margin: 0 auto;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 8rem;
}

.navbar .links {
    display: flex;
    gap: 3rem;
}

/* For responsive */
.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: red;
    color: #fff;
    padding: 0.4em 1em; 
    border: none;
    border-radius: 0.25rem; 
    font-size: 1em; 
    cursor: pointer;
}

.action_btn:hover {
    transition: background-color 0.5s, color 0.5s;
    background-color: #a60000; 
}

/* Dropdown menu styles */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 18rem;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 0.5rem;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Open state for dropdown menu */
.dropdown_menu.open {
    height: 9rem;
}

/* Styles for dropdown menu items */
.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles for action buttons within dropdown menu */
.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Media query for smaller screens */
@media (max-width: 62em) {
    /* Hide navbar links and action buttons */
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    /* Show toggle button */
    .navbar .toggle_btn {
        display: block;
    }

    /* Show dropdown menu */
    .dropdown_menu {
        display: block;
    }

    /* Adjust width of sub-navbar for smaller screens */
    .sub-navbar {
        width: 80%;
    }
}
