* {
    margin: 0;
    padding: 0;
    /* color: white; */
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    overflow: hidden;
    color: white;
}

.register-container p, span {
    color: white;
}

.register-form {
    border: 1px solid black; 
    padding: 1.25rem; 
    border-radius: 1rem; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
}

.register-form input[type='password'] {
    color: black;
  }

  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%; 
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}

.dim-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity here */
    z-index: -1;
}

.register-container h2, input, label, button {
    margin: 1em;
    padding: 1vh;
}

.register-container h2 {
    font-size: 2rem;
}

.register-container button {
    font-size: 1em; 
    padding: 0.6em 1.2em; 
    background-color: red;
    border: none; 
    border-radius: 0.25rem; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white;
}

.register-container button:hover {
    background-color: #a60000; 
}

.register-form input {
    padding: 0.5rem; 
    border: 1px solid #ccc; 
    border-radius: 0.25rem; 
    transition: border-color 0.3s ease; 
}

.gologin {
    display: flex;
    justify-content: space-evenly; /* Add space between elements */
    align-items: center;
    padding: 1em;
}

.gologin span {
    margin-right: 0.5em;
}

.gohome {
    margin-top: 1em;
    margin-left: auto; 
  }